<div id="list-client" class="list-client">
    <div id="alinharSpinner" class="alinharSpinner" *ngIf="habilitaSpinner">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tentarNovamente" id="tentarNovamente" *ngIf="habilitaTentarNovamente">
        <div class="grid" id="grid">
            <small id="mensagemErro" class="mensagemErro">
                O Servidor está iniciando, aguarde {{segundos}} segundos e tente novamente!
            </small>
        </div>
        <button (click)="ngOnInit()" mat-button>Tentar Novamente!</button>
    </div>
    <div *ngIf="habilitaTabela" class="tabela" id="tabela">

        <table mat-table [dataSource]="lista" class="example-container mat-elevation-z8">
        
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th style="width: 20%;" mat-header-cell *matHeaderCellDef> ID</th>
                <td style="width: 20%;" mat-cell *matCellDef="let cliente"> {{cliente.id}} </td>
            </ng-container>
        
            <!-- Nome Column -->
            <ng-container matColumnDef="nome">
                <th style="width: 20%; padding: 5px; border-left: solid 1px black;" mat-header-cell *matHeaderCellDef> Nome </th>
                <td style="width: 20%; padding: 5px; border-left: solid 1px black;" mat-cell *matCellDef="let cliente"> {{cliente.nome}} </td>
            </ng-container>
        
            <!-- Limite Credito Column -->
            <ng-container matColumnDef="limiteCredito">
                <th style="width: 20%; padding: 5px; border-left: solid 1px black;" mat-header-cell *matHeaderCellDef> Limite de Crédito </th>
                <td style="width: 20%; padding: 5px; border-left: solid 1px black;" mat-cell *matCellDef="let cliente"> {{cliente.limiteCredito}} </td>
            </ng-container>
        
            <!-- Risco Column -->
            <ng-container matColumnDef="risco">
                <th style="width: 20%; padding: 5px; border-left: solid 1px black;" mat-header-cell *matHeaderCellDef> Risco </th>
                <td style="width: 20%; padding: 5px; border-left: solid 1px black;" mat-cell *matCellDef="let cliente"> {{cliente.risco}} </td>
            </ng-container>

            <!-- Juros Column -->
            <ng-container matColumnDef="juros">
                <th style="width: 20%; padding: 5px; border-left: solid 1px black;" mat-header-cell *matHeaderCellDef> Juros </th>
                <td style="width: 20%; padding: 5px; border-left: solid 1px black;" mat-cell *matCellDef="let cliente"> {{cliente.juros}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator (page)="mudaPaginacao($event.pageIndex)" #paginator [length]="listaCliente.length" [pageSize]="10" [pageSizeOptions]="[10]">
        </mat-paginator>
    </div>
</div>